.header {
  /* background-color: #104b79; */
  background-image: url("https://wallpaperaccess.com/full/1950286.jpg");
  background-position: right bottom;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
}

.headerContainer {
  width: 100%;
  height: 180px;
  max-width: 1024px;
  margin: 20px 0px 100px 0px;
}

.headerContainer.listMode {
  margin: 20px 0px 0px 0px;
}

.headerList {
  display: flex;
  gap: 70px;
  margin-bottom: 0px;
}

.headerListItem {
  display: flex;
  align-items: center;
  gap: 10px;
  top: 500px;
  cursor: pointer;
  color:rgb(42, 42, 46);
}

.headerListItem.active {
  border: 3px solid rgb(83, 146, 249);
  border-top: transparent;
  border-right: transparent;
  border-left: transparent;
  padding: 10px;
  /* border-radius: 20px; */
}

.headerDesc {
  margin: 20px 0px;
}

.headerBtn {
  background-color: #bfcdfa;
  color: black;
  font-weight: 600;
  border: none;
  padding: 10px;
  cursor: pointer;
}
.headerBtn-src {
  background-color: rgb(83, 146, 249);
  color: #fff;
  font-weight: 600;
  width: 400px;
  border: none;
  padding: 10px;
  cursor: pointer;
  border: 1px ;
  border-radius: 8px;
  height: 50px;
  font-size: 20px;
}


.headerSearch {
  height: 180px;
  background-color: #f8f7f9;
  border: 6px ;
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 8px 3px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0px;
  border-radius: 5px;
  position: absolute;
  bottom: 5px;
  width: 100%;
  max-width: 1024px;
}
.headerSearch2 {
  height: 30px;
  top: 30px;
  background-color: white;
  /* border: 3px solid #febb02; */
  box-shadow: rgb(0 0 0 / 20%) 0px 1px 6px 2px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0px;
  border-radius: 5px;
  position: absolute;
  bottom: 100px;
  width: 100%;
  height: 50px;
  max-width: 1024px;
  z-index:1;
  /* left: 355px; */
}

.headerIcon {
  color: rgb(66, 65, 65);
  left: 20px;
}

.headerSearchItem {
  position: relative;
  top: 10px;
  align-items: center;
  gap: 10px;
  left: 55px;
  grid-column-start: 1;
  grid-column-end: 4;
}

.headerSearchItem-date {
  position: relative;
  display: flex;
  align-items: center;
  white-space: nowrap;
  /* overflow: hidden; */
  text-overflow: ellipsis;
  gap: 10px;
  left: 55px;
  grid-column-start: 1;
  grid-column-end: 2;
  background-color:#fff;
  border: 1px solid;
  border-radius: 8px;
  box-shadow: none;
  height: 46px;
  top: 20px;
  padding: 0px 20px;
}
.headerSearchItem-option {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color:#fff;
  top: 20px;
  border: 1px solid;
  border-radius: 8px;
  box-shadow: none;
  width: 400px;
  height: 46px;
  right: 65px;
  border: 1px solid;
  border-radius: 8px;
  border-color: #dddfe2;
  gap: 10px;
  grid-column-start: 3;
  grid-column-end: 4;
}
.headerSearchItem-src{
  position: absolute;
  left: -30px;
  grid-column-start:2;
  bottom: -20px;
 
}
.headerSearchInput {
  border: 1px solid;
  box-shadow: none;
  height: 46px;
  border-radius: 8px;
  font-weight: 300;
  font-size: 14px;
  border-color: #dddfe2;
  /* border-left: transparent; */
  /* border-top-left-radius: 0px;
  border-top-left-radius: 0px; */
  width: 900px;
  /* position: absolute; */
  left: 40px;
}


.headerSearchText {
  color:  rgb(66, 65, 65);
  cursor: pointer;
  font-size: 20px;
}
.headerSearchText-date {
  color:  rgb(66, 65, 65);
  cursor: pointer;
  font-size: 20px;
}


.date {
  position: absolute;
  top: 50px;
  z-index: 2;
  left: 50px;
}

.options {
  grid-column-start: 3;
  grid-column-end: 4;
  z-index: 2;
  position: absolute;
  top: 50px;
  background-color: white;
  color: gray;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

.optionItem {
  grid-column-start: 1;
  grid-column-end: 3;
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.optionCounter {
  /* display: flex; */
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: black;
}

.optionCounterButton {
  width: 30px;
  height: 30px;
  border: 1px solid #0071c2;
  color: #0071c2;
  cursor: pointer;
  background-color: white;
}

.optionCounterButton:disabled {
  cursor: not-allowed;
}
