.navbar{
  height: 60px;
  background-color: #fff;
  display: flex;
  justify-content: center;
}


.navContainer{
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.items >* { 
  color: black;
  list-style: none;
  display: flex;
  justify-content: space-between;
  float: left;
  gap: 50px;
  font-size: 17.5px;
  font-weight: 500;
}

.logo{
  font-weight: 500;
  color : #000
}

.navButton{
  margin-left: 20px;
  border-color: rgb(255, 86, 125);
  background-color: Transparent;
  padding: 10px 15px;
  cursor: pointer;
  /* background-color:none */
  color: rgb(255, 86, 125);
  fill: none;
}
.navButton-login{
  margin-left: 20px;
  border-color: rgb(83, 146, 249);
  background-color: Transparent;
  padding: 10px 15px;
  cursor: pointer;
  /* background-color:none */
  color: rgb(83, 146, 249);
  fill: none;
}
.navButton:hover {
  /* transition: background-color rgb(255, 86, 125) 0.3s */
  background-color:rgb(255, 86, 125);
  transition: all 0.3s ease-in;
  color:#fff
}
.navButton-login:hover {
  /* transition: background-color rgb(255, 86, 125) 0.3s */
  background-color:rgb(83, 146, 249);
  transition: all 0.3s ease-in;
  color:#fff
}
